*{
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #3F88C5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #F1F2EE;
    font-size: 70px;
    -webkit-text-stroke: 2px #032B43;

    margin: 5px 0 10px 0;
    padding: 0;
}

.calculator{
    background-color: #D00000;
    width: 40rem;
    height: 50rem;
    border-radius: 25px;
    border-left: #9d06069e solid 15px;
    border-bottom: #9d06069e solid 15px;
    border-right: #ee17177b solid 15px;
    border-top: #ee17177b solid 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}